@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
	src: url("../assets/fonts/Geist-Regular.woff2") format("woff2");
	font-family: Geist;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	src: url("../assets/fonts/Geist-Medium.woff2") format("woff2");
	font-family: Geist;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	src: url("../assets/fonts/Geist-SemiBold.woff2") format("woff2");
	font-family: Geist;
	font-weight: 600;
	font-display: swap;
}

@font-face {
	src: url("../assets/fonts/Geist-Bold.woff2") format("woff2");
	font-family: Geist;
	font-weight: 700;
	font-display: swap;
}

@theme {
	--font-sans: Geist, sans-serif;

	--color-cyan-300: #a1ffff;
	--color-purple-300: #edbaff;
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}

	body {
		@apply font-sans antialiased;
	}

	button {
		@apply cursor-pointer;
	}
}
